# OS files
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
*.swp
tags

# Node
node_modules/

# Logs
*.log

# Environment
.env

# VS Code / IDE
.vscode/
.idea/

# Build files
dist/
build/

# Cache & Backup
*.cache
*.bak

# Frappe docs
mobile_activation/docs/current